version: "3.8"
services:
  backend:
    build: .
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASS: ${EMAIL_PASS}
      EMAIL_FROM: ${EMAIL_FROM}
      JWT_SECRET: ${JWT_SECRET}
      SWAGGER_SERVER_URL: ${SWAGGER_SERVER_URL}
      LOG_LEVEL: ${LOG_LEVEL}
      LOG_FILE_PATH: ${LOG_FILE_PATH}
      GCP_CREDENTIALS_JSON: ${GCP_CREDENTIALS_JSON}
      GCS_BUCKET_NAME: ${GCS_BUCKET_NAME}
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
    command: >
      sh -c "npx prisma migrate deploy &&
             npm run dev"
  
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data: